/*CSS Style Sheet */

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color:#e6f7ff;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul {
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#ff4444;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}

@keyframes rainbow{
    0% {color:red;}
    17% {color:orange;}
    34% {color:yellow;}
    50% {color:green;}
    67% {color:blue;}
    84% {color:indigo;}
    100% {color:violet;}
}

/* Header */
header{
    background:#353c40;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom: #ff4444 3px solid;
    list-style:none;
}

header a{
    text-decoration:none;
    text-transform:uppercase;
    color:#ffffff;
}

header nav{
    width:80%;
    margin:auto;
}

.dropbtn {
  background-color: transparent;
  outline:none;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header .highlight, header .current a{
    animation:rainbow 2s linear infinite alternate;
    font-weight:bold;
}

header a:hover{
    color:#ff0000;
    font-weight:bold;
}

/* Showcase */
#showcase{
    min-height:400px;
    background-image:url(../img/ramenpic.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    text-align:center;
    color:#000000;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}

#order{
    padding:15px;
    color:#ffffff;
    background:#353c40;
}

/* Order */
#order h1{
    float:left;
}

#order form{
    float:right;
    margin-top:15px;
}

#order input[type=name]{
    padding:4px;
    height:25px;
    width:250px;
}

/* Boxes */
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:150px;
}

/* Main-col */
article#main-col{
    float:left;
    width:65%;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#ff4444;
    text-align:center;
}

/* Boxes around each project */
.project{
	background-color: #353c40;
	font-size: 100%;
	padding: 1%;
	width: 320px;
	height: 320px;
	float: left;
	text-align:center;
	border-radius: 5px;
	margin:1%;
}

.project a{
	color:#ffffff;
	text-decoration: none;
	font-size: 16px;
}

.project h1{
    color:#ffffff;
}

.project iframe{
    width:100%;
}

.project img{
    width:100%;
}

.project a:hover{
    color:#ff0000;
    font-weight:bold;
}

/* Game aligning */
#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}
#drawingapp{
    position:absolute;
    height:100%;
    width:100%;
    border:none;
}

/* Media Queries */
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #order h1,
    #order form,
    #boxes .box{
        float:none;
        text-align:center;
        width:100%;
        }
    
    header{
        padding-bottom:20px;
    }
    
    #showcase h1{
        margin-top:40px;
    }
    
    #order button{
        display:block;
        width:100%;
    }
    
    #order form input[type=name]{
        width:100%;
        margin-bottom:5px
    }
}